body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: block;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

label:hover {
    background-color: #f0f0f0;
    color: #333;
    border-color: #999;
}

input[type="checkbox"]:checked + label {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

audio {
    margin-top: 20px;
}
